
.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 780px;
    height: auto;
    max-height: 440px;
    margin: auto;
    overflow: hidden;
}

.image-placeholder-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 780px;
    height: auto;
    max-height: 440px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
}

.image-placeholder-image {
    max-width: 780px;
    max-height: 440px;
    width: 780px;
    height: 440px;
    object-fit: fill;
}

.uploaded-placeholder-container {
    display: flex;
    width: 100%;
    max-width: 780px;
    height: auto;
    max-height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploaded-placeholder-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

